
body {
  font-family: 'Georgia', serif;
  background: #F7DDE2; 
  padding: 20px;
  color: #000;
  margin: 0;
}


.container {
  max-width: 700px;
  margin: auto;
  background: #FFFFF0; 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}


h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #000;
  font-family: Georgia, serif;
}

h2 {
  margin-top: 25px;
  font-size: 22px;
  color: #000;
  font-family: Georgia, serif;
}


.toggleBtn {
  background: #F7DDE2; 
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-family: Georgia, serif;
  font-size: 16px;
  transition: 0.3s;
}

.toggleBtn:hover {
  background: #FAD4D8; 
}


.content {
  display: none;
  background: #FAD4D8; 
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  border-left: 4px solid #000;
  transition: all 0.3s ease;
  color: #000;
}
